/* GLOBALS
========================================================= */
body {
  background-image: url(../img/bg-pattern.png);
  background-color: #fff;
  color: #343a40;
}

/* NAVBAR
========================================================= */

.navbar {
  background-color: #00ada9;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link.disabled {
  opacity: 0.75;
}

.navbar .breadcrumb {
  background-color: transparent;
  padding: 0;
  color: #fff;
  margin-bottom: 0;
}

.navbar .breadcrumb li a {
  color: #fff;
  padding: 0.5rem 1rem;
  display: inline-block;
}

.navbar .breadcrumb .breadcrumb-item.active a {
  font-weight: 700;
}

.navbar .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.65);
}

.navbar .loginButtons div {
  float:right
}
/* .navbar .nav-item:not(:last-child):after {
  display: list-item;
  content: '/'
} */

/* COLOR HELPERS
========================================================= */
.bg-red {
  background-color: #fa5252;
}
.bg-blue {
  background-color: #228be6;
}
.bg-green {
  background-color: #40c057;
}
.bg-yellow {
  background-color: #ffd43b;
}

.bg-orange {
  background-color: #ff6444;
}

.border-orange {
  border-color: #ff6444;
}
.border-teal {
  border-color: #00ada9;
}

.bg-teal {
  background-color: #00ada9;
}

.btn.bg-teal:hover,
.btn.btn-secondary.bg-teal:active,
.btn.btn-secondary.bg-teal:focus {
  background-color: #00ada9;
  border-color: #00ada9;
  box-shadow: none
}

.text-teal {
  color: #00ada9;
}

.text-orange {
  color: #ff6444;
}

.text-red {
  color: #fa5252;
}
.text-blue {
  color: #228be6;
}
.text-green {
  color: #40c057;
}
.text-yellow {
  color: #ffd43b;
}

/* PAYER LIST
========================================================= */

.payer-list {
  margin-bottom: 1em;
}

.payer-list .list-group-item {
  border-right: 0;
  position: relative;
  z-index: 100;
  border-color: #dee2e6;
  margin-left: 1em;
  cursor: pointer;
}
.payer-list .list-group-item:first-child,
.payer-list .list-group-item:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 0;
}
.payer-list .payer-indicator {
  height: 10px;
  width: 10px;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.payer-list .list-group-item.selected {
  background-color: #f1f3f5;
}

.payer-list .list-group-item.selected .remove-btn {
  border-radius: 100%;
  vertical-align: middle;
  font-size: 12px;
  height: 20px;
    width: 20px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
}

.payer-list .list-group-item.selected:after,
.payer-list .list-group-item.selected:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.payer-list .list-group-item.selected:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #f1f3f5;
  border-width: 8px;
  margin-top: -8px;
}

.payer-list .list-group-item.selected:before {
  border-color: rgba(222, 226, 230, 0);
  border-left-color: #dee2e6;
  border-width: 9px;
  margin-top: -9px;
}

.payer-list .add-payer {
  /* background-color: #474143; */
  color: #474143;
  font-weight: 600;
}

.edit-buttons {
  margin-right: 1em;
}

/* DASHBOARD HEADER
========================================================= */

.dashboard-header {
  /* padding-bottom: 1em;
  margin-bottom: 2em; */
  border: 1px solid #dee2e6;
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
}
.dashboard-header h3 {
  font-weight: 300;
}

.dashboard-header h3 span {
  display:inline-block;
  vertical-align:middle;
}

.dashboard-header h3 .badge {
  font-size: 12px;
}

/* RECEIPT OBJECT
========================================================= */

.receipt {
  border: 1px solid #dee2e6;
  padding-top: 0;
  background-color: #fff;
  padding: 1.5em;
}

.receipt .table {
  margin-bottom: 0;
}

.receipt .receipt-item td {
  padding: 1rem 0.75rem;
  /* border-top-style: dotted; */
}

.receipt .receipt-item {
  cursor: pointer
}

.receipt .receipt-item:first-of-type td {
  padding-top: 0;
}

.receipt .receipt-item:last-of-type td {
  padding-bottom: 0;
}

.receipt .receipt-item .receipt-item-label {
  width: 70%;
}

.receipt .receipt-item:first-of-type td {
  border-top: none;
}

.receipt .receipt-item.receipt-subtotal td {
  border-top: 2px solid #495057;
}

.receipt .receipt-item.receipt-tally td {
  border-top-style: dashed;
}

.receipt .receipt-item.receipt-tally.first td {
  border-top: 2px solid #495057;
}

.receipt .receipt-item.receipt-total {
  font-size: 1.25rem;
  font-weight: bold;
}

.receipt .receipt-item-label .badge:not(:last-child) {
  margin-right: 5px;
}

.receipt .receipt-item p {
  padding-bottom: 0;
  margin-bottom: 0;
}

.receipt-edit-mode .payer-list *,
.receipt-edit-mode .breakdown {
  opacity: 0.2;
}

.receipt-item.receipt-tally .receipt-item-label {
  text-align: right;
}

/* BREAKDOWN
========================================================= */

.breakdown {
  border: 1px solid #dee2e6;
  background-color: #fff;
  padding: 1.5em;
}

.breakdown-graph {
  width: 75%;
  display: block;
  padding-bottom: 1.5em;
  padding-top: 1em;
}

.breakdown h4 {
  font-weight: 200;
}

/* FOOTER
========================================================= */

footer {
  background-color: #474143;
  padding: 2em 0;
  margin-top: 2em;
}
